.App{
  background-color: #f7f8f9;
  text-align: center;

}
.home{
   display: flex;
   height: 100vh;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: center;
}
.home>p{
 color: rgb(122, 119, 119);
}
button{
  margin: 10px;
  width:300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: rgb(208, 184, 230);
  cursor: pointer;
}
.login{
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
}
.login>h1{
  align-self: center;
}
.login>p{
  color: rgb(110, 107, 107);
}
.register{
  Display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
  padding: 20px;
}
.profile{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;
}
.profile>div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
.profile>div>img{
  width: 100px;
  height:100px;
  border-radius: 50%;
}
.profile>p{
  padding: 50px 20px;
  border-bottom: 1px dashed black;
}
